.productos{
  padding-top: 80px;
  margin-left: 120px;
}

.containerTable{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.table{
    margin: 0px;
    width: 70%;
    text-align: center;
} 

.table thead th{
  background-color: #1a1a1a;
}

.table tbody {
  background-color: #1a1a1a !important;
}


#btnCustomized{
  background-color: #243B53;
  color: #ffffff;
  border: transparent;
}

.containerTitle{
  text-align: center;
  margin-top: 50px;
  color: white;
}

.title{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: white;
}

.btnDiv{
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  margin-top: 30px;
  margin-bottom: 0px;
}

.columnas{
  font-size: 14px !important;
  padding: 7px 16px !important;
  vertical-align: middle;
  text-align: center;
  
}

.columnImg{
  width: 5%;
  vertical-align: middle;
}

.imgItem{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.imgItem .imgProduct {
  border-radius: 10px;
  width: 500px;
  height: 100%;
  max-width: 100%;
  min-width: 9%;
  border: 2px solid;
  box-sizing: border-box;
}

.imgProduct{
  transition: transform .5s; 
}
.imgProduct:hover{
  transform: scale(1.8);
}

@media screen and (max-width: 800px) {
 .table{
   width: 150%!important;
   margin-left: -100px;
 }

 .title{
   margin-left: -100px;
 }
 #btnCustomized{
   margin-right: 60px;
   width: 180px;
 }
}