.body {
  font-family: "Poppins", sans-serif;
}
.containerCatalogue {
  position: absolute;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  flex-wrap: wrap;
  background-color: transparent;
  margin-top: 700px;
  margin-left: 180px;
  
}
.logo {
  position: absolute;
  margin-left: 70px;
}
.nav-lateral {
  display: flex;
  justify-content: center;
  align-self: stretch;
  margin-right: 1px;
  width: 150px;
  height: 100%;
  position: absolute;
  left: 0%;
  background: linear-gradient(#f69d3c, #3f87a6, black);
}

.select {
  background-color: transparent;
  color: #baf501;
  border: none;
  width: 130px;
  height: auto;
  border: solid 1px #baf501;
  border-radius: 10px;
  margin: 7px;
  cursor: pointer;
}
.select:hover {
  background-color: rgb(100, 100, 100);
}

.option {
  background-color: black;
}

.tarjeta {
  transition: transform 0.6s;
}
.tarjeta:hover {
  transform: scale(1.1);
}

.pag {
  width: 100%;
  margin-top: 50px;
  justify-content: center;
  display: flex;
}

.pagination {
  position: relative;
  bottom: 0;
}

.img__wrapper {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.img__wrapper img {
  width: 100%;
}
.sold_out {
  top: 2em;
  left: -4em;
  color: #fff;
  display: block;
  position: absolute;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
  background-color: #a00;
  padding: 0.5em 5em 0.4em 5em;
  text-shadow: 0 0 0.75em #444;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  font: bold 16px/1.2em Arial, Sans-Serif;
  -webkit-text-shadow: 0 0 0.75em #444;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-45deg) scale(0.75, 1);
  z-index: 10;
}
.sold_out:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: -0.3em -5em;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  border: 2px rgba(255, 255, 255, 0.7) dashed;
}

.box-h1 {
  color: #ffffff;
  padding-top: 100px;
  margin-left: 25%;
}
